<div class=register fxLayoutAlign="center center">
  <mat-card class=register_input>
    <mat-card-title fxLayoutAlign="center">註冊介面</mat-card-title>
    <form method="post" form [formGroup]="registerForm">
      <div fxLayout="column" fxLayoutAlign="space-between center">
        <mat-form-field>
          <input type="text" name="user" matInput placeholder="註冊名" required="required" formControlName="account" />
        </mat-form-field>
        <mat-form-field>
          <input type="text" name="mail" matInput placeholder="電子郵件" required="required" formControlName="mail" />
        </mat-form-field>
        <mat-form-field>
          <input type="text" name="pass" matInput placeholder="密碼" required="required" formControlName="password" />
        </mat-form-field>
        <a>
          <button mat-raised-button style="width:130px;height:40px;font-size:15px;" mat-button (click)="Register()"
            type="submit">註冊</button>
        </a>
        <a href=login>返回登入頁面</a>
      </div>
    </form>
  </mat-card>
</div>

<!--------------------------------------------------------------------------->

