
mat-form-field {
  margin-right: 12px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #555;
  color: white;
}
.example-spacer {
  flex: 1 1 auto;
}
.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
.test{
  height: 100vh;
  background-color: #FFFFFE;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cpath fill='none' stroke-width='6.6' stroke-opacity='0.98' id='a' d='M0-478l-413.96 717h827.92L0-478l-413.96 717h827.92z'/%3E%3C/defs%3E%3Cg transform='scale(0.352)' style='transform-origin:center'%3E%3Cg transform='rotate(60 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-160 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%235108ED' href='%23a' transform='rotate(-80 0 0) scale(0.2)'/%3E%3Cuse stroke='%236b08ee' href='%23a' transform='rotate(-70 0 0) scale(0.3)'/%3E%3Cuse stroke='%238507ef' href='%23a' transform='rotate(-60 0 0) scale(0.4)'/%3E%3Cuse stroke='%23a007f0' href='%23a' transform='rotate(-50 0 0) scale(0.5)'/%3E%3Cuse stroke='%23ba07f1' href='%23a' transform='rotate(-40 0 0) scale(0.6)'/%3E%3Cuse stroke='%23d506f2' href='%23a' transform='rotate(-30 0 0) scale(0.7)'/%3E%3Cuse stroke='%23f106f2' href='%23a' transform='rotate(-20 0 0) scale(0.8)'/%3E%3Cuse stroke='%23f306da' href='%23a' transform='rotate(-10 0 0) scale(0.9)'/%3E%3Cuse stroke='%23f405c0' href='%23a'/%3E%3Cuse stroke='%23f505a6' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%23f6058b' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%23f70470' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%23f80455' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%23f9043a' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%23fa031e' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%23fb0403' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%23fc2003' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3Cuse stroke='%23fc3c02' href='%23a' transform='rotate(90 0 0) scale(1.9)'/%3E%3Cuse stroke='%23fd5803' href='%23a' transform='rotate(100 0 0) scale(2)'/%3E%3Cuse stroke='%23fd7503' href='%23a' transform='rotate(110 0 0) scale(2.1)'/%3E%3Cuse stroke='%23fe9103' href='%23a' transform='rotate(120 0 0) scale(2.2)'/%3E%3Cuse stroke='%23fead03' href='%23a' transform='rotate(130 0 0) scale(2.3)'/%3E%3Cuse stroke='%23feca04' href='%23a' transform='rotate(140 0 0) scale(2.4)'/%3E%3Cuse stroke='%23ffe604' href='%23a' transform='rotate(150 0 0) scale(2.5)'/%3E%3Cuse stroke='%23FBFF04' href='%23a' transform='rotate(160 0 0) scale(2.6)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-position:center ;
}
.card{
  background-color: #98e7ff;
}
.card_Lyrics{
  width: 300px;
}
.toolbar{
  height: 10px;
}

