<div class=test>

  <div fxLayout="column" fxLayoutAlign="space-between start">


    <div>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item onclick="location.href='home'">
          <mat-icon>home</mat-icon>
          <a>Home</a>
        </button>

        <button mat-menu-item onclick="location.href='FirstComponent'">
          <mat-icon>notifications_off</mat-icon>
          <a>天氣展示頁面</a>
        </button>

        <button mat-menu-item onclick="location.href='login'">
          <mat-icon>replay</mat-icon>
          <a>登入介面</a>
        </button>
      </mat-menu>
    </div>


    <ul>
      <li><a href="home">Home</a></li>
      <li><a href="FirstComponent">wheather</a></li>
      <li><a href="login">login</a></li>
      <li><a href="trying">About</a></li>
    </ul>

    <div>
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="First">
          <img width='500'
            src='https://yt3.ggpht.com/BjLOETqUR2_siXhSa9JAW3pof9HDURhk2A7R-3VLb2FbMoj7wwSc3IEmC53muQhqLF_HOC1f8uPnVQ=s800-nd'>
        </mat-tab>
        <mat-tab label="Second">
          <img width='500' src='https://i.imgur.com/8fgtkoZ.jpeg'>
        </mat-tab>
        <mat-tab label="Third">
          <img width='500' src='https://i.imgur.com/PqXZ5cM.jpegd'>
        </mat-tab>
      </mat-tab-group>
<!-- ------------------------------------------------------------------------------------- -->
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="card-header-image"></div>
          <mat-card-title>ツミキ「フォニイ」</mat-card-title>
          <mat-card-subtitle>cover: 柚羽まくら / Yuzuha Makura</mat-card-subtitle>
        </mat-card-header>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bfZqDuJKPCg" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <mat-card-content>
          <p>
            原創作者 : ツミキ / NOMELON NOLEMON
          </p>
          <p>
            voice : 可不
          </p>

          <mat-accordion class="card_Lyrics">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Lyrics
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>{{lyric}}</p>
            </mat-expansion-panel>
          </mat-accordion>


          <mat-button-toggle-group name="ingredients" aria-label="Ingredients" multiple>
            <mat-button-toggle value="liric">liric</mat-button-toggle>
          </mat-button-toggle-group>

        </mat-card-content>
      </mat-card>



      <button mat-raised-button style="width:130px;height:40px;font-size:15px;" mat-button (click)="swalwaeningDialog()"
      type="submit">test</button>

    </div>
  </div>

    <!--<div class="new-web-row"><span class="web-form-span ">驗證碼</span><input type="text" class=" web-form-input "
      required="required" id="Yzm" style="width: 30%;float: initial; margin-left: 27%;"><input type="button" id="code"
      value="點我驗證" class="btn-list-btn" style="margin:0;float: right;width:20%" onclick="createCode()" />

  </div>-->

    <!--<div>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
-->

    <!--隱藏式標籤
<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>dialpad</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>-->

  </div>










