<div fxLayoutAlign="center center">
  <div class=qna >
    <h1>問題反饋</h1>
    <form method="post" form [formGroup]="qnaForm">
      <div fxLayout="column" fxLayoutAlign="space-between center">
        <mat-form-field>
          <input type="text" name="user" matInput placeholder="您遇到的問題" required="required" formControlName="quest" />
        </mat-form-field>
        <mat-form-field>
          <input type="text" name="pass" matInput placeholder="您的聯絡信箱" required="required" formControlName="email" />
        </mat-form-field>
        <a>
          <button mat-raised-button style="width:130px;height:40px;font-size:15px;" mat-button (click)="button()"
            type="submit">送出</button>
        </a>
        <a href=login>回到登入頁面</a>
      </div>
    </form>
  </div>
</div>

