html{
  background:#C9A0DC;
}
.qna{
  background:#a1d5ff;
  width:400px;
  height:400px;
  border:5px solid black;
  padding:50px 35px 30px 35px;
  margin: 0px 490px 50px 490px;
}
a{
  display:inline-block;
  padding:8px;
}
