<div class="weather">
  <div fxLayout="row" fxLayoutAlign="space-around center">

    <div class="lmf">
      <!--移動式表單 + 圖片測試 -->
      <mat-tab-group animationDuration="0ms">

        <mat-tab label="溫度">
          <div style="height: 100%; width: 100%;">
            <ng-container *ngFor="let item of wheather">
              <mat-list>
                <mat-list-item>
                  {{item.startTime}} ~ {{item.endTime}}
                  <h3 style="color: rgb(255, 0, 0);">{{item.elementValue[0].value}}度</h3>
                </mat-list-item>
                <mat-divider></mat-divider>
              </mat-list>
            </ng-container>
          </div>
        </mat-tab>

        <mat-tab label="降雨機率">
          <div style="height: 100%; width: 100%;">
            <ng-container *ngFor="let item1 of rain">
              <mat-list>
                <mat-list-item>
                  {{item1.startTime}} ~ {{item1.endTime}}
                  <h4 style="color: rgba(10, 6, 250, 0.801);">{{item1.elementValue[0].value}}%</h4>
                </mat-list-item>
                <mat-divider></mat-divider>
              </mat-list>
            </ng-container>
          </div>
        </mat-tab>
        <!-- ---------------------------------------------------------------------------------- -->
        <mat-tab label="user_list">
          <div style="height: 100%; width: 100%;"><!-- 標題 -->
            <mat-list>
              <mat-list-item>
                <th>loginId </th>
                <th> account </th>
                <th> mail </th>
                <th> password</th>
              </mat-list-item>
            </mat-list>

            <ng-container *ngFor="let user_list of user">
              <ng-container *ngIf="user_list.loginId == loginId"> <!-- 被標示的資料 -->
                <mat-list>
                  <mat-list-item style="color: rgba(250, 6, 6, 0.801);">
                    <th>{{user_list.loginId}}</th>
                    <th>{{user_list.account}}</th>
                    <th>{{user_list.mail}}</th>
                    <th>{{user_list.password}}</th>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                </mat-list>
              </ng-container>

              <ng-container *ngIf="user_list.loginId !== loginId"> <!-- 正常的資料 -->
                <mat-list>
                  <mat-list-item>
                    <th>{{user_list.loginId}}</th>
                    <th>{{user_list.account}}</th>
                    <th>{{user_list.mail}}</th>
                    <th>{{user_list.password}}</th>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                </mat-list>
              </ng-container>

            </ng-container>
            <!-- ---------------------------------------------------------------------------------- -->
          </div>
        </mat-tab>


      </mat-tab-group>
    </div>

    <div class="menu" fxFlex="10">
      <button mat-icon-button mat-raised-button [matMenuTriggerFor]="menu">
        <mat-icon>apps</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item onclick="location.href='login'">
          <mat-icon>account_circle</mat-icon>
          <a>login</a>
        </button>
        <button mat-menu-item onclick="location.href='test'">
          <mat-icon>build</mat-icon>
          <a>測試頁</a>
        </button>
        <button mat-menu-item onclick="location.href='home'">
          <mat-icon>account_balance</mat-icon>
          <span><a>主頁</a></span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
