<div class=login fxLayoutAlign="center center">
  <mat-card class=login_input>
    <mat-card-title fxLayoutAlign="center">登入介面</mat-card-title>
    <form method="post" [formGroup]="loginForm">
      <div fxLayout="column" fxLayoutAlign="space-around center">
        <mat-form-field>
          <input type="text" name="mail" matInput placeholder="mail" formControlName="mail" />
        </mat-form-field>

        <mat-form-field>
          <input type="password" name="pass" matInput placeholder="password" formControlName="password" />
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="space-evenly none">
          <a>
            <button mat-raised-button style="width:130px;height:40px;font-size:15px;" mat-button (click)="login()"
              type="submit">登入 - SignIn</button>
          </a>
          <a>
            <button mat-raised-button style="width:130px;height:40px;font-size:15px;" value="註冊 - register"
              onclick="location.href='register'">註冊 - register</button>
          </a>
        </div>

      </div>
    </form>
  </mat-card>
</div>
