<div class="home">
 <!-- ################################################################################################### -->
  <div fxFlex="10">
    <div class="menu">
      <!-- 活頁 -->
      <button mat-icon-button mat-raised-button [matMenuTriggerFor]="menu">
        <mat-icon>apps</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item onclick="location.href='login'">
          <mat-icon>account_circle</mat-icon>
          <a>login</a>
        </button>
        <button mat-menu-item onclick="location.href='test'">
          <mat-icon>build</mat-icon>
          <a>測試頁</a>
        </button>
        <button mat-menu-item onclick="location.href='FirstComponent'">
          <mat-icon>brightness_high</mat-icon>
          <span><a>天氣頁面</a></span>
        </button>
      </mat-menu>
    </div>
  </div>
 <!-- ################################################################################################### -->
  <div fxFlex="70">
    <!-- 主內容/柚羽まくら -->
    <div class="home_card" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
      <!-- ------------------------------------------------------------------------------------------ -->
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="card-header-image"></div>
          <mat-card-title>ツミキ「フォニイ」</mat-card-title>
          <mat-card-subtitle>cover: 柚羽まくら / Yuzuha Makura</mat-card-subtitle>
        </mat-card-header>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bfZqDuJKPCg" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <mat-card-content>
          <p>
            原創作者 : ツミキ / NOMELON NOLEMON
          </p>
          <p>
            voice : 可不
          </p>
        </mat-card-content>
      </mat-card>
      <!-- ------------------------------------------------------------------------------------------ -->
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="card-header-image"></div>
          <mat-card-title>ツユ「デモーニッシュ」</mat-card-title>
          <mat-card-subtitle>cover: 柚羽まくら / Yuzuha Makura</mat-card-subtitle>
        </mat-card-header>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Kx737i0zFnQ" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <mat-card-content>
          <p>
            原創作者 : ツユ
          </p>
          <p>
            voice : 礼衣
          </p>
        </mat-card-content>
      </mat-card>
      <!-- ------------------------------------------------------------------------------------------ -->
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="card-header-image"></div>
          <mat-card-title>中島美嘉「僕が死のうと思ったのは」</mat-card-title>
          <mat-card-subtitle>cover: 柚羽まくら / Yuzuha Makura</mat-card-subtitle>
        </mat-card-header>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0SSE3SYq67U" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <mat-card-content>
          <p>
            原創作者 : 中島美嘉
          </p>
          <p>
            voice : 中島美嘉
          </p>
        </mat-card-content>
      </mat-card>
      <!-- ------------------------------------------------------------------------------------------ -->
    </div>
  </div>
 <!-- ################################################################################################### -->
  <div fxFlex="20">
    <!-- 自我介紹 -->
    <mat-card class="card_home" style="height:600px;">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title> Encore_o7</mat-card-title>
        <mat-card-subtitle>孔祥緯</mat-card-subtitle>
      </mat-card-header>
      <mat-card-subtitle fxLayoutAlign="start">linktree :<a href="https://linktr.ee/Encore_0">Encore_o7</a>
      </mat-card-subtitle>
      <p>當前使用者 : {{account}} </p>
    </mat-card>
  </div>

</div>
